// COLORS
$color-001: #ffffff;
$color-002: #001219;
$color-003: #0a9396;
$color-004: #ee9b00;
$color-005: #9b2226;
$color-006: #005f73;
$color-007: #94d2bd;
$color-008: #e9d8a6;
$color-009: #ca6702;
$color-010: #bb3e03;
$color-011: #ae2012;

// FONTS
$font-001: 'KyooshiGothic';

// FONT-SIZES
$font-sm: 0.75rem;
$font-md: 1rem;
$font-lg: 1.25rem;
$font-xl: 1.75rem;
$font-xxl: 2rem;
$font-xxxl: 3.5rem;

// SCREEN SIZES
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
